<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Skillset</i></font><font size="2"><span class="pull-right">Rating (5)</span></font></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item">Python - Django <span class="badge">3.5</span></li>
                            <li class="list-group-item">Java - Spring MVC <span class="badge">3.5</span></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Front End Libraries</i></font><font size="2"><span class="pull-right">Rating (5)</span></font></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Angular 1.x <span class="badge">3.5</span> </li>
                        <li class="list-group-item">React JS <span class="badge">3</span></li>
                        <li class="list-group-item">D3.js - Visualization Library <span class="badge">2.5</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Other Interests</i></font></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">OWASP</li>
                        <li class="list-group-item">Web Optimization</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>