<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Task Completed</i></font></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">API Call to fetch the data</li>
                        <li class="list-group-item">Validating if Data is empty or not</li>
                        <li class="list-group-item">Validating From and To date</li>
                        <li class="list-group-item">Providing two views for User - Table and Chart</li>
                        <li class="list-group-item">Responsive Design</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Instructions</i></font></div>
                <div class="panel-body">
                    <p>App is hosted on <a href="https://dxvish.github.io" target="_blank">dxvish.github.io</a></p>
                    <p>Since github.io runs on HTTPS, calling the Provided API throws an error as its hosted on HTTP. For running the app without issues, please follow the instructions below</p>
                    <ul>
                        <li>Open <a href="https://dxvish.github.io" target="_blank">dxvish.github.io</a></li>
                        <li>Choose From Date and To Date</li>
                        <li>Click on Fetch Button</li>
                        <li>On the URL bar, chrome will throw an warning stating that the site is trying to load unsafe script(Mixed content -  Both HTTPS & HTTP requests)</li>
                        <li>Click on the Red error botton on URL bar</li>
                        <li>Toggle - Allow Unsafe Scripts</li>
                        <li>Chose the date and click on fetch</li>
                        <li>Toggle between Table and Chart View using the control on the dialog boxs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>