<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Task Completed</i></font></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">API Call to fetch the data</li>
                        <li class="list-group-item">Validating if Data is empty or not</li>
                        <li class="list-group-item">Validating From and To date</li>
                        <li class="list-group-item">Providing two views for User - Table and Chart</li>
                        <li class="list-group-item">Responsive Design</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><font size="3"><i>Instructions</i></font></div>
                <div class="panel-body">
                    <p>App is hosted on <a href="https://dxvish.github.io" target="_blank">dxvish.github.io</a></p>
                </div>
            </div>
        </div>
    </div>
</div>