<div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Date Range</div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="from_date">From:</label>
                                        <div class="col-sm-10"> 
                                            <datepicker date-format="yyyy-MM-dd" >
                                                <input ng-model="fromDate" type="text" class="form-control" id="from_date" placeholder="From Date">
                                            </datepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="to_date">To:</label>
                                        <div class="col-sm-10"> 
                                            <datepicker date-format="yyyy-MM-dd">
                                                <input ng-model="toDate" type="text" class="form-control" id="to_date" placeholder="To Date">
                                            </datepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12"> 
                                            <input type="submit" class="form-control btn btn-primary" value="FETCH" ng-click="fetchData()">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">AdRequest Details
                                <div class="btn-group pull-right">
                                    <a class="toggle-dropdown " data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" ng-click="toggleView = !toggleView">Chart<span class="glyphicon glyphicon-stats pull-right "></span></a></li>
                                        <li><a href="#" ng-click="toggleView = !toggleView">Table<span class="glyphicon glyphicon-th pull-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-show="invalid" class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error!</strong> {{validation}}
                                </div>
                                <table ng-if="toggleView" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Requests</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="adData in gameData">
                                            <td>{{ adData.date }}</td>
                                            <td>{{ adData.adrequest }}</td>
                                        </tr>
                                        <tr ng-show="!gameData.length" ><td class="alignCenter" colspan="2">No Records to Display</td></tr>

                                    </tbody>

                                </table>

                                <svg class="chartContainer" id="chart" width="700" height="400" ng-show="!toggleView">

                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>